<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'portal_web:index' %}">STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'portal_web:boost' %}">BOOST RECOMENDATIONS</a>
    </li>
    {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
          <a class="nav-link link-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PROFILE
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'portal_web:profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'portal_web:logout' %}">Logout</a></li>
          </ul>
      </li>
    {% endif %}
  </ul>
</div>

  {% block content %}
  {% endblock %}

<div class="container">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
</body>
</html>