{% extends 'portal_web/base.html' %}

{% block content %}

{% load static %}

<div class="container">
    <h3 class="text-center my-4">Boost recommendations</h3>
    {% if not request.user.playerprofile.desired_wn8 %}
        <div class="card text-center my-3">
            <div class="card-header">
                Hint
            </div>
            <div class="card-body">
                <h5 class="card-title">Receive better recommendations</h5>
                <p class="card-text">Set your desired WN8 in Profile Settings to get better recommendations</p>
                <a href="{% url 'portal_web:profile' %}" class="btn btn-primary">Go to Profile</a>
            </div>
        </div>
    {% endif %}
    {%for tank in boost_tanks %}
        {% if forloop.counter0|divisibleby:"4" %}
        <div class="row">
        {% endif %}
            <div class="col">
                <div class="tank-card card mx-2 my-3" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title">{{ tank.tank_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">

                            {% if tank.tank_type == "heavyTank" %}
                                <img src="{% static 'portal_web/icons/heavy_tank_icon.svg' %}" alt="Heavy Tank" class="icon-small">
                            {% elif tank.tank_type == "AT-SPG" %}
                                <img src="{% static 'portal_web/icons/at_spg_icon.svg' %}" alt="AT-SPG Tank" class="icon-small">
                            {% elif tank.tank_type == "mediumTank" %}
                                <img src="{% static 'portal_web/icons/medium_tank_icon.svg' %}" alt="Medium Tank" class="icon-small">
                            {% elif tank.tank_type == "lightTank" %}
                                <img src="{% static 'portal_web/icons/light_tank_icon.svg' %}" alt="Light Tank" class="icon-small">
                            {% elif tank.tank_type == "SPG" %}
                                <img src="{% static 'portal_web/icons/spg_icon.svg' %}" alt="SPG Tank" class="icon-small">
                            {% else %}
                                {{ tank.tank_type }}
                            {% endif %}

                            <span>
                                Tier: {{ tank.tank_tier }}
                            </span>
                        </h6>
                    </div>
                    <img src="{{ tank.big_icon }}" class="card-img-top" alt="...">
                      <div class="card-body">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item">Battles: {{tank.tank_battles }}</li>
                              <li class="list-group-item">WN8: {{ tank.tank_wn8 }}</li>
                          </ul>
                          <a href="{% url 'portal_web:tank_stats' tank.wg_tank_id %}" class="stretched-link"></a>
                      </div>
                </div>
            </div>
        {% if forloop.counter0|add:"1"|divisibleby:"4" %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}