{% load static %}

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Tank</th>
            <th scope="col">Type</th>
            <th scope="col">Tier</th>
            <th scope="col">Nation</th>
            <th scope="col">Battles</th>
            <th scope="col">WN8</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in detailed_stat %}
        <tr>
            <th scope="row"><img src="{{ item.contour_icon }}"></th>
            <td>{{ item.tank_name }}</td>
            <td>
                {% if item.tank_type == "heavyTank" %}
                    <img src="{% static 'portal_web/icons/heavy_tank_icon.svg' %}" alt="Heavy Tank" class="icon-small">
                {% elif item.tank_type == "AT-SPG" %}
                    <img src="{% static 'portal_web/icons/at_spg_icon.svg' %}" alt="AT-SPG Tank" class="icon-small">
                {% elif item.tank_type == "mediumTank" %}
                    <img src="{% static 'portal_web/icons/medium_tank_icon.svg' %}" alt="Medium Tank" class="icon-small">
                {% elif item.tank_type == "lightTank" %}
                    <img src="{% static 'portal_web/icons/light_tank_icon.svg' %}" alt="Light Tank" class="icon-small">
                {% elif item.tank_type == "SPG" %}
                    <img src="{% static 'portal_web/icons/spg_icon.svg' %}" alt="SPG Tank" class="icon-small">
                {% else %}
                    {{ item.tank_type }}
                {% endif %}
            </td>
            <td>{{ item.tank_tier }}</td>
            <td>{{ item.tank_nation }}</td>
            <td>{{ item.tank_battles }}</td>
            <td>{{ item.tank_wn8 }}</td>
            <td><a href="{% url 'portal_web:tank_stats' item.wg_tank_id %}">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>




