{% extends 'portal_web/base.html' %}

{% load static %}
{% load bootstrap_icons %}

{% block content %}
<body>
<div class="container mt-3">
    <div class="row mb-2">
        <div class="col my-2 d-flex flex-column justify-content-between">
            <div class="card flex-fill">
                <h5 class="card-header">{{ profile.nickname }}</h5>
                <span hidden id="playerID">{{ profile.player_id }}</span>
                <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                Battles:
                            </div>
                            <div class="col text-left">
                                {{ profile.battles }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                WN8:
                            </div>
                            <div class="col text-left">
                                {{ profile.current_wn8 }}
                            </div>
                        </div>
                </div>
            </div>
            <div class="card flex-fill mt-2">
                <div class="card-header text-center">
                    7 days summary
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            Battles played:
                        </div>
                        <div class="col-2 text-end">
                            {% if widget_data.battles_changed > 0%}+{% endif %}{{ widget_data.battles_changed }}
                        </div>
                        <div class="col">
                            {% if widget_data.battles_changed > 0 %}{% bs_icon 'arrow-up-circle-fill' color='green' %}{% elif widget_data.battles_changed < 0 %}{% bs_icon 'arrow-down-circle-fill' color='red' %}{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            WN8 changed:
                        </div>
                        <div class="col-2 text-end">
                            {% if widget_data.wn8_changed > 0 %}+{% endif %}{{ widget_data.wn8_changed }}
                        </div>
                        <div class="col">
                            {% if widget_data.wn8_changed > 0 %}{% bs_icon 'arrow-up-circle-fill' color='green' %}{% elif widget_data.wn8_changed < 0 %}{% bs_icon 'arrow-down-circle-fill' color='red' %}{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 my-2" id="wn8chart">
            <canvas id="leftChart" class="scatter-chart"></canvas>
        </div>
    </div>
    <div class="accordion" id="accordionTanksStats">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" id="accordionButtonCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Tanks Statistics
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionTanksStats">
                <div class="accordion-body">
                    <div class="container-fluid" id="statTable"></div>
                </div>
            </div>
        </div>
    </div>

    <div hidden>{{ line_chart_data|json_script:"chart-data" }}</div>


</div>
<script src="{% static 'portal_web/js/home_utils.js' %}"></script>
</body>

{% endblock %}