{% extends 'portal_web/base.html' %}

{% load static %}

{% block content %}
<body>
<article class="card-body mx-auto w-50">
    <h4 class="card-title mt-3 text-center">Link your WoT account</h4>
    <form method="get" action="{% url 'portal_web:wg_player_search' %}" class="row g-3">
        <div class="col-9">
            <input type="text" class="form-control" id="nicknameSearch" name="username" placeholder="WoT Nickname" value="{{ username }}">
        </div>
        <div class="col-3 d-grid gap-2">
            <button type="submit" id="submitButton" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>
    {% if players %}
    {% include 'portal_web/player_search_results.html' %}
    {% endif %}
</article>

<script src="{% static 'portal_web/js/set_profile_utils.js' %}"></script>

</body>
{% endblock %}