{% extends 'portal_web/base.html' %}

{% block content %}
<body>
<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user">U</i> </span>
            </div>
            {{ form.username }}
        </div>
        <span class="text">{{ form.errors.username }}</span>
        <div class="input-group mb-3">
    	    <div class="input-group-prepend">
		        <span class="input-group-text"> <i class="fa fa-envelope">P</i> </span>
		    </div>
            {{ form.password1 }}
        </div>
        <span class="text">{{ form.errors.password1 }}</span>
        <div class="input-group mb-3">
    	    <div class="input-group-prepend">
		        <span class="input-group-text"> <i class="fa fa-envelope">P</i> </span>
		    </div>
            {{ form.password2 }}
        </div>
        <span class="text">{{ form.errors.password2 }}</span>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" type="button">Create Account</button>
        </div>
    </form>
    <p class="text-center">Have an account? <a href="{% url 'portal_web:login' %}">Log In</a> </p>
</article>
</body>
{% endblock %}