{% extends 'portal_web/base.html' %}

{% block content %}
<div class="container my-4">
    <form class="row" method="post" action="{% url 'portal_web:subscription' %}">
        {% csrf_token %}
        <div class="col-1">
            <label for="staticA" class="visually-hidden">a</label>
            <input name="a" type="text" readonly class="form-control-plaintext" id="staticA" value="{{ puzzle.a }}">
        </div>
        <div class="col-1">
            <span>+</span>
        </div>
        <div class="col-1">
            <label for="staticB" class="visually-hidden">a</label>
            <input name="b" type="text" readonly class="form-control-plaintext" id="staticB" value="{{ puzzle.b }}">
        </div>
        <div class="col-1">
            <span>=</span>
        </div>
        <div class="col-1">
            <label for="inputResult" class="visually-hidden">Password</label>
            <input name="result" type="number" class="form-control" id="inputResult" placeholder="Result">
        </div>
        <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit answer</button>
      </div>
    </form>
</div>


{% endblock %}